@media(max-width:480px) {

  body {
    padding: 0 10%;
  }
  header{
    position: relative;
  }

  header .logo img {
    position: absolute;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}